body{
    font-family: sans-serif;
    background-color: rgba(145, 165, 196,1);
    text-align:center;
    user-select:none
}

body h1{

    font-size: 50px;
    font-family:sans-serif;
    font-weight:bolder;
    background-color: white;
    margin: 10px ;
    padding: 10px ;
    border-radius: 10px ;
    color: rgba(249, 115, 125,1);

}

nav{
    background-color: white;
    margin: 10px ;
    padding: 10px ;
    border-radius: 10px ;
}

nav a{
    text-decoration: none;
    margin: ;
    padding: 5px;
    color: rgba(55, 65, 79,1);
    background-color: ;
    border-radius: ;

}

.contacts{
    color: ;
    background-color: ;   
    text-decoration: none;
}



.buy_PC{
    background-color: rgba(0, 120, 212,1);
    color: white;
    font-weight: bolder;
}

.buy_XBOX{
    background-color: green;
    color: white;
    font-weight: bolder;
}

.buy_Desc{
    background-color: black;
    color: white;
    font-weight: bolder;
}


.buy_Switch{
    background-color: rgba(243, 47, 41.767);
    color: 0, 186, 224;
    font-weight: bolder;
}


.buy_PS{
    background-color: blue;
    color: white;
    font-weight: bolder;
}

table{
    background-color: white;
    padding: 20px;
    border-collapse: collapse;
    border-radius: 10px;
    width: 100%;
    text-align:left;
    margin-top:30px;

}

td a{
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    border-radius: 10px;

}

td{
    padding: 15px;
}

td img{

    height: 300px;
    border-radius: 5px;

}

.GTA{

    height: 300px;

}
